@model WebUI.Models.LogInModel

@{
    ViewBag.Title = "Log in";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "css-form" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.RememberMe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.RememberMe)
            @Html.ValidationMessageFor(model => model.RememberMe)
        </div>

        <p>
            <input type="submit" value="Log in" class="css-button"/>
        </p>
    </fieldset>
}
<div>
    <a class="css-secondary-button css-create-button" href='@Url.Content("~/Account/Register")'>Create Account</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
