@model IEnumerable<BLL.DomainModel.Entities.FileEntity>
<tbody>
    @foreach (var item in Model)
    {
        <tr>
            @Html.HiddenFor(modelItem => item.Id)
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                <select disabled="disabled" class="js-access-select">
                    @if (item.IsPublic)
                    {
                        <option selected>Public</option>
                        <option>Private</option>  
                    }
                    else
                    {
                        <option>Public</option>
                        <option selected>Private</option>  
                    }

                </select>
            @*    <a class="css-link-button js-edit">Edit</a>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UploadDate)
            </td>
            <td>
                <a class="inline css-button js-delete-button" onclick="controller.confirm(this);">Delete</a>
                @Html.ActionLink("Load", "Download", new { path = item.Path, name = item.Name }, new { @class = "inline css-button css-orange" })
            </td>
        </tr>
    }
</tbody>

