<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
    <body>
        <div>
            <div class="css-wrapper">
            @RenderPage("Header.cshtml")
            <div class="css-banner">
                <div class="css-logout css-float_r">
                    <a href='@Url.Content("~/Account/LogOff")'>Logout</a>
                </div>
            </div>
            <div class="css-content">
                @RenderBody()
            </div>
            @RenderPage("Footer.cshtml")
        </div>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
        </div>       
    </body>
</html>
