<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="css-wrapper">
        @RenderPage("Header.cshtml")
        @RenderPage(string.Format("Navigation\\Navigation_{0}.cshtml",Roles.GetRolesForUser(User.Identity.Name).FirstOrDefault() ?? "Anonym"))
        <div class="css-content">
            @RenderBody()
        </div>
         @RenderPage("Footer.cshtml")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
