@model IEnumerable<BLL.DomainModel.Entities.FileEntity>

@{
    ViewBag.Title = "All Files";
}

@RenderPage("Search.cshtml")
<h2>All Files</h2>
<div class="js-table">
    @Html.Partial("MyFiles/Table/Table")
</div>
@section styles
{
    @Styles.Render("~/Content/themes/base/css")
}
@section Scripts {
    <script src="@Url.Content("~/Scripts/application/file.js")"></script>
    @Scripts.Render("~/bundles/file");
}
