@model IEnumerable<BLL.DomainModel.Entities.FileEntity>

@{
    ViewBag.Title = "GetMyFiles";
}
@RenderPage("Search.cshtml")
<h2>My Files</h2>
<div class="js-table">
    @Html.Partial("MyFiles/Table/Table")
</div>
@section styles
{
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/dialog.css")
}
@section Scripts {
    @Scripts.Render("~/Scripts/application/file.js")
    @Scripts.Render("~/bundles/file")
}
