@model IEnumerable<BLL.DomainModel.Entities.FileEntity>

@{
    ViewBag.Title = "User's Files";
}
@RenderPage("Search.cshtml")
<h2>User Files:</h2>
<div class="js-table">
    @Html.Partial("MyFiles/Table/Table")
</div>
@section styles
{
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/dialog.css")
}
@section Scripts {
    @Scripts.Render("~/Scripts/application/myFiles.js")
    @Scripts.Render("~/bundles/file")
}
